.d-footer {
  @extend .d-grid;
  @extend .d-pad;
  @extend .d-text-small;
  background-color: $d-color-black;
  color: $d-color-white;
  font-feature-settings: "case" on;
}

.d-footer-body {
  @include d-size(600) {
    &:after {
      content: none;
    }
  }
}

.d-footer-addenda {
  display: block;
  margin-top: 1rem;
  color: $d-color-gray;
}
