.d-footer {
  @extend .d-grid;
  @extend .d-pad;
  @extend .d-text-small;
  color: $d-color-white;
  background-color: $d-color-black;
  font-feature-settings: "case" on;
}

.d-footer-body {
  margin-top: 0.75em;
}

.d-footer-links {
  display: flex;
}

.d-footer-links-item {
  & + & {
    margin-left: 1.5em;
  }
}

.d-footer-link {
  @extend .d-text-link-weight;
  display: block;
  transition: color $d-effect-duration;
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 0 40%;
  padding-left: 1.625em;
  color: $d-color-gray;

  @media (hover) {
    &:hover {
      color: $d-color-gold;
    }
  }
}

.d-footer-copyright {
  @extend .d-text-tiny;
  margin-top: 1.5em;
  color: $d-color-gray;
}
