.page-footer {
    position: relative;
    text-align: right;
    font-size: 0.8rem;
    padding: $small-size;
    padding-left: $small-size * 2.5;
    min-height: $small-size;
    line-height: $small-size;

    @include size(medium) {
        padding: $medium-size;
        padding-left: $medium-size * 2.5;
        min-height: $medium-size;
        line-height: $medium-size;
        font-size: 1rem;
    }

    @include size(large) {
        padding: $large-size;
        padding-left: $large-size * 2.5;
        min-height: $large-size;
        line-height: $large-size;
    }

    @include print {
        padding: 0;
        position: fixed;
        left: 0; bottom: 0; right: 0;
        min-height: $small-size;
        line-height: $small-size;

        p {
            font-family: "lft-etica", "Helvetica Neue", sans-serif;
            font-size: 1rem;
        }
    }

    p:last-child::after { display: none; }

    &:before {
        content: '';
        position: absolute;
        background-size: 100%;

        top: $small-size; left: $small-size;
        width: $small-size; height: $small-size;

        @include size(medium) {
            top: $medium-size; left: $medium-size;
            width: $medium-size; height: $medium-size;
        }

        @include size(large) {
            top: $large-size; left: $large-size;
            width: $large-size; height: $large-size;
        }

        @include print {
            top: 0; left: 0;
            width: $small-size; height: $small-size;
        }
    }
}

.page-footer:before, .page-header .page-logo {
    background-image: asset_data_uri("logo.svg");
}
