.d-settings {
  --d-color-black: hsl(0, 0%, 5%);
  --d-color-white: hsl(0, 0%, 100%);
  --d-color-gray: hsl(40, 0%, 42%);

  --d-color-gold: hsl(40, 35%, 60%);
  --d-color-gold-muted: hsl(40, 10%, 60%);
  --d-color-gold-translucent: hsla(40, 35%, 60%, 0.2);
}
