:root {
  @extend .d-root;
}

.d-article {
  p { @extend .d-article-paragraph; }
  ul, ol { @extend .d-article-list; }
  h2 { @extend .d-article-h1; }
  h3 { @extend .d-article-h2; }
  figure { @extend .d-article-figure; }
  img { @extend .d-article-image; }
  blockquote { @extend .d-article-blockquote; }
  strong { @extend .d-article-strong; }
  hr { @extend .d-article-divider; }
}

.d-subscribe {
  strong { @extend .d-text-strong; }
}

img {
  display: flex;
  width: 100%;;
  max-width: 100%;;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  @extend .d-text-link;
}

em {
  font-style: italic;
}
