$d-effect-duration: 0.85s;
$d-effect-stagger: $d-effect-duration * 0.25;

.d-effect-appear {
  animation: d-effect-appear $d-effect-duration*2 ease-in-out 0s 1 normal backwards;
}

@for $i from 1 through 10 {
  .d-effect-appear-#{$i} {
    @extend .d-effect-appear;
    animation-delay: ($i - 1) * $d-effect-stagger;
  }
}

@keyframes d-effect-appear {
  0% {
    transform: translate(0, -1rem);
    opacity: 0;
  }

  40% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
