$d-round-radius: 6px;

.d-round {
  &, & img {
    border-radius: $d-round-radius;
  }
}

.d-round-top-left {
  &, & img {
    border-radius: unset;
    border-top-left-radius: $d-round-radius;
  }
}

.d-round-top-right {
  &, & img {
    border-radius: unset;
    border-top-right-radius: $d-round-radius;
  }
}

.d-round-bottom-left {
  &, & img {
    border-radius: unset;
    border-bottom-left-radius: $d-round-radius;
  }
}

.d-round-bottom-right {
  &, & img {
    border-radius: unset;
    border-bottom-right-radius: $d-round-radius;
  }
}

.d-round-top {
  &, & img {
    border-radius: unset;
    border-top-left-radius: $d-round-radius;
    border-top-right-radius: $d-round-radius;
  }
}

.d-round-bottom {
  &, & img {
    border-radius: unset;
    border-bottom-left-radius: $d-round-radius;
    border-bottom-right-radius: $d-round-radius;
  }
}

.d-round-left {
  &, & img {
    border-radius: unset;
    border-top-left-radius: $d-round-radius;
    border-bottom-left-radius: $d-round-radius;
  }
}

.d-round-right {
  &, & img {
    border-radius: unset;
    border-top-right-radius: $d-round-radius;
    border-bottom-right-radius: $d-round-radius;
  }
}
