.d-settings {
  --d-unit: 2rem;
  --d-font-size: 100%;

  @include d-size(350) {
    --d-unit: 2.5rem;
    --d-font-size: #{100% * (18 / 16)};
  }

  @include d-size(600) {
    --d-unit: 5rem;
  }

  @include d-size(900) {
    --d-unit: 6rem;
    --d-font-size: #{100% * (20 / 16)};
  }

  @include d-size(1200) {
    --d-unit: 7rem;
  }

  @include d-size(1500) {
    --d-font-size: #{100% * (22 / 16)};
  }

  @include d-size(1800) {
    --d-font-size: #{100% * (24 / 16)};
  }

  --d-color-black: hsl(0, 0%, 5%);
  --d-color-white: hsl(0, 0%, 100%);
  --d-color-gray: hsl(40, 0%, 45%);

  --d-color-gold: hsl(40, 35%, 60%);
  --d-color-gold-muted: hsl(40, 10%, 65%);
  --d-color-gold-translucent: hsla(40, 35%, 60%, 0.2);
}
