@import "reset";
@import "clearfix";
@import "responsive";

$color: hsl(280, 5, 20);
$font-size: 15px;
$line-height: 1.5;

@page {
    margin: $large-size; padding: 0;
}

html {
    background: #fafafa asset_data_uri("texture.jpg");
    font-size: $font-size;

    @include print {
        font-size: 11px;
        background: none;
    }
}

body {
    /* Fudge. Text never sits exactly in the vertical centre of its block; this constant makes sure
    the logo sits exactly in the middle between the top of the page and the first heading. */
    padding-top: .75em;

    color: $color;
    line-height: $line-height;
    font-family: "lft-etica", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-header {
    @extend %clearfix;
    position: relative;

    .page-logo {
        float: left;
        background-size: 100%;

        height: $small-size * 1.5;
        width: $small-size * 1.5;
        margin: $small-size;

        @include size(medium) {
            height: $medium-size;
            width: $medium-size;
            margin: $medium-size;
        }

        @include size(large) {
            height: $large-size;
            width: $large-size;
            margin: $large-size;
        }

        @include print {
            margin: 0 0 $large-size 0;
        }
    }

    .page-links {
        float: right;
        @include print { display: none; }
        li {
            float: left;

            a {
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 1;

                $icon-scale: 0.75;
                height: $small-size * (2 + 1.5);
                width: $small-size * (2 + $icon-scale);
                background-size: $small-size * $icon-scale;

                @include size(medium) {
                    $icon-scale: 0.5;
                    height: $medium-size * (2 + 1);
                    width: $medium-size * (2 + $icon-scale);
                    background-size: $medium-size * $icon-scale;
                }

                @include size(large) {
                    $icon-scale: 0.5;
                    height: $large-size * (2 + 1);
                    width: $large-size * (2 + $icon-scale);
                    background-size: $large-size * $icon-scale;
                }

                span { display: none; }
            }

            &.linkedin {
                a { background-image: asset_data_uri('linkedin-icon.svg'); }
                opacity: 0;
                visibility: hidden;
                @include print { display: none; }
            }

            &.dribbble {
                a { background-image: asset_data_uri('dribbble-icon.svg'); }
                opacity: 0;
                visibility: hidden;
                @include print { display: none; }
            }

            &.email {
                a { background-image: asset_data_uri('email-icon.svg'); }
            }

        }

        @include size(medium) {
            &:hover li {
                opacity: 1;
                visibility: visible;
                transition: 1s opacity;
            }
        }

        @include print {
            position: relative;
            top: -$large-size; right: -$large-size;
        }

    }
}

.item {
    .item-header {
        position: relative;
        margin: $small-size;
        font-size: 2rem;
        line-height: 1.0;
        padding-right: 1em;
        page-break-before: always;

        @include size(medium) {
            margin: $medium-size;
            font-size: 2.5rem;
            line-height: 1.2;
            padding-right: 5.5em;
        }

        @include size(large) {
            margin: $large-size;
            font-size: 3.0rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
        }

        @include print {
            margin: 0 0 $large-size 0;
        }

        .item-title {
            position: relative;
            z-index: 1;
            font-weight: 800;
            letter-spacing: 0.01em;
        }

        .item-subtitle {
            font-weight: 300;
            letter-spacing: 0.1em;
            margin-top: .75em;
            line-height: 1.2;
            font-size: .5em;
            text-transform: uppercase;
            padding-bottom: 1em;

            @include size(medium) {
                margin-top: 0.5em;
            }

            &:after {
                content: '';
                position: absolute; bottom: 0; left: 0;
                margin: 0;
                background: $color;
                width: 2em;
                height: 2px;
            }
        }

        a {
            color: lighten($color, 40%);
            text-decoration: none;

            &:after {
                content: '\2192';
                margin-left: 0.25em;
                color: lighten($color, 60%);
                font-size: 0.8em;
            }
        }
    }

    &:nth-of-type(n+2) {
        counter-increment: item;
    }

    &:nth-of-type(n+2) .item-header:after {
        content: "0" counter(item);
        position: absolute;
        top: 0; right: 0;
        color: lighten($color, 70%);
        font-weight: 800;
        z-index: 0;

        @include size(medium) {
            // content: "Project 0" counter(item);
        }
    }

    &:last-of-type .item-header:after {
        content: none;
    }

    &:first-child .item-header {
        page-break-before: initial;
        margin-top: 0;
    }

    &:first-child .item-images .item-image {
        height: 25vh;
    }

    .item-description {
        margin: 0 $small-size $small-size $small-size;
        color: lighten($color, 5%);

        -webkit-column-gap: $small-size;
        -moz-column-gap: $small-size;
        column-gap: $small-size;

        -webkit-column-fill: balance;
        -moz-column-fill: balance;
        column-fill: balance;

        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;

        @include size(medium) {
            margin: 0 $medium-size $medium-size $medium-size;
            -webkit-column-gap: $medium-size;
            -moz-column-gap: $medium-size;
            column-gap: $medium-size;
            -webkit-columns: 2;
            -moz-columns: 2;
            columns: 2;
        }

        @include size(large) {
            margin: 0 $large-size $large-size $large-size;
            -webkit-column-gap: $large-size;
            -moz-column-gap: $large-size;
            column-gap: $large-size;
            width: 50%;
            max-width: 35em;
        }

        @include print {
            margin: 0 0 $large-size 0;
            width: 50%;
            max-width: initial;
        }
    }

    .item-addenda {
        margin: 0 $small-size $small-size $small-size;
        color: lighten($color, 5%);

        @include size(medium) {
            margin: 0 $medium-size $medium-size $medium-size;
        }

        @include size(large) {
            margin: 0 $large-size $large-size $large-size;
        }

        @include print {
            margin: 0 0 $large-size 0;
        }

        ul.skills {
            list-style-type: circle;
            margin-bottom: 1em;
            line-height: $line-height;

            li {
                display: inline-block;
                border: 2px solid transparentize($color, 0.9);
                border-radius: 1em;
                padding: 0.2em 0.7em;
                color: $color;
                // min-width: 0em;
                text-align: center;
                margin: 0 0.5em 0.5em 0;

                &:first-child {
                    margin-left: 0.5em;
                }
            }
        }
    }

    .item-images {
        @extend %clearfix;
        position: relative;

        .item-image {
            counter-increment: item-image;
            position: relative;
            float: left;
            overflow: hidden;
            margin: 0;
            page-break-inside: avoid;

            width: 100%;
            height: 80vh;

            @include print {
                height: initial;
                margin-bottom: $large-size / 2;
            }

            &.small {
                width: 50%;
                height: 25vw;

                @include size(small) {
                    width: 100%;
                    height: 35vw;
                }

                @include print {
                    height: auto;
                }
            }

            img {
                -webkit-transform: translatez(0);
                -moz-transform: translatez(0);
                -ms-transform: translatez(0);
                -o-transform: translatez(0);
                transform: translatez(0);
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .item-sharing-links {
                position: absolute;
                top: 5px; left: 5px;
                width: auto;
                height: 20px;
                z-index: 1;
                display: none;

                img { width: auto; }
            }

            &:hover .item-sharing-links {
                display: block;
            }

            .item-image-caption {
                top: $small-size;
                left: $small-size;
                right: $small-size;
                display: none;

                @include size(medium) {
                    top: $medium-size;
                    left: $medium-size;
                    right: $medium-size;
                }

                @include size(large) {
                    top: $large-size;
                    left: $large-size;
                    right: $large-size;
                }

                content: counter(item-image);
                position: absolute;
                z-index: 2;
                color: #fff;
                font-weight: 800;
                text-shadow: 0 1px 1px $color;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:before {
                    content: counter(item) "." counter(item-image) "\a0\a0\b7\a0\a0";
                }
            }

            &:first-of-type {
                // page-break-after: always;
            }
        }

        .item-image:target {
            position: fixed;
            top: 0; right: 0; bottom: 0; left: 0;
            width: 100vw; height: 100vh;
            z-index: 3;

            // transition: all .3s;
            .item-image-show-link { display: none; }
            .item-image-back-link { display: block; }
            .item-image-caption { display: block; }
        }
    }
}

.page-footer {
    position: relative;
    text-align: right;
    font-size: 0.8rem;
    padding: $small-size;
    padding-left: $small-size * 2.5;
    min-height: $small-size;
    line-height: $small-size;

    @include size(medium) {
        padding: $medium-size;
        padding-left: $medium-size * 2.5;
        min-height: $medium-size;
        line-height: $medium-size;
        font-size: 1rem;
    }

    @include size(large) {
        padding: $large-size;
        padding-left: $large-size * 2.5;
        min-height: $large-size;
        line-height: $large-size;
    }

    @include print {
        padding: 0;
        position: fixed;
        left: 0; bottom: 0; right: 0;
        min-height: $small-size;
        line-height: $small-size;

        p {
            font-family: "lft-etica", "Helvetica Neue", sans-serif;
            font-size: 1rem;
        }
    }

    p:last-child::after { display: none; }

    &:before {
        content: '';
        position: absolute;
        background-size: 100%;

        top: $small-size; left: $small-size;
        width: $small-size; height: $small-size;

        @include size(medium) {
            top: $medium-size; left: $medium-size;
            width: $medium-size; height: $medium-size;
        }

        @include size(large) {
            top: $large-size; left: $large-size;
            width: $large-size; height: $large-size;
        }

        @include print {
            top: 0; left: 0;
            width: $small-size; height: $small-size;
        }
    }
}

.page-footer:before, .page-header .page-logo {
    background-image: asset_data_uri("logo.svg");
}

a.contact {
    display: block;
    text-align: center;
    margin-top: 1em;
    border-radius: 4px;
    border: 2px solid $color;
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    background-color: $color;

    @include size(medium) {
        display: inline-block;
        text-align: left;
        margin-top: 0.8em;
    }

    &:after {
        content: '\A0\A0\2192';
    }

    @include print {
        white-space: nowrap;
        background-color: transparent;
        color: $color;

        &:after {
            content: ': hi@danhalliday.com';
        }
    }

    &:hover {
        background-color: red;
        border-color: red;
        transition: all 0.5s;
    }
}

p {
    margin-bottom: #{$line-height}em;
    // widows: 3; // Bugs all over webkit...
    // orphans: 3;

    a {
        color: $color;

        @include print {
            text-decoration: none;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &:last-of-type::after {
        content: "";
        background: lighten($color, 10%);
        width: ceil($font-size / 2);
        height: ceil($font-size / 2);
        margin-left: ceil($font-size / 4);
        display: inline-block;
        border-radius: 1.5px;

        @include print {
            width: $font-size / 2;
            height: $font-size / 2;
        }
    }
}