.d-cards {
  @extend .d-grid;
}

.d-card {
  @extend .d-grid;
  @extend .d-tight;
}

.d-card-title {
  @extend .d-text-title;
}

.d-card-subtitle {
  @extend .d-text-subheading;
}

.d-card-image {
  @extend .d-round-left;
  grid-column: content-start / main-end;
  transition: transform $d-effect-duration*5 ease-in-out;

  .d-card:nth-child(even) & {
    @extend .d-round-right;
    grid-column: main-start / content-end;
  }

  @media (hover) {
    .d-card:hover & {
      transform: translate(0, 0.25rem);
    }
  }
}

.d-card-body {
  @extend .d-grid;
  grid-gap: 0;
}

.d-card-summary {
  @extend .d-text-small;
  margin-top: 1.25rem;

  @include d-size(600) {
    grid-column: content-start / content-middle;
    margin-top: calc(var(--d-grid-gap) / 4);
  }
}

.d-card-image-placeholder {
  height: var(--d-grid-gap);
  background-color: $d-color-gold;
}
