.d-masthead {
  @extend .d-grid;
  grid-gap: 0;
}

.d-masthead-headline {
  @extend .d-text-headline;

  &.d-spaced {
    margin-bottom: 1em;
  }
}

.d-masthead-subhead {
  @extend .d-text-heading;
}

.d-masthead-body {
  margin-top: 2rem;
  grid-column: content-start / content-end;

  @include d-size(600) {
    grid-column: content-start / content-middle;
  }
}
