.d-masthead {
  @extend .d-grid;
  grid-gap: 0;
}

.d-masthead-headline {
  @extend .d-text-headline;

  &.d-spaced::after {
    content: "\A\A"; // Blank line
    white-space: pre;
  }
}

.d-masthead-subhead {
  @extend .d-text-heading;
}
