.d-body {
  @extend .d-text;
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image: url("/images/d-pattern.svg");
}

// .d-section {
//   background-image: url("/images/d-pattern.svg");
// }
