.d-description {
  overflow-wrap: break-word;
  margin-top: -1.5rem;

  @include d-screen-small-up {
    column-count: 2;
    column-gap: 3rem;
    column-fill: balance;
    max-width: 42rem;
  }

  p {
    margin-bottom: 1.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p:last-child:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1ex; height: 1ex;
    background-color: currentColor;
    margin-left: 1ex;
    border-radius: 0.1em;
    position: relative;
    // opacity: 0.15;
  }
}
