.d-images {
  display: flex;
  flex-wrap: wrap;
}

.d-image-wrapper {
  display: flex;
  padding: 1.5rem 0;
  margin-top: -1.5rem;

  @include d-screen-medium-up {
    padding: 3rem 0;
    margin-top: -3rem;
  }

  &.d-size-large {
    width: 100%;
  }

  &.d-size-small {
    width: 50%;
  }

  &:last-child, &.d-size-small:nth-last-child(2) {
    margin-bottom: -1.5rem;

    @include d-screen-medium-up {
      margin-bottom: -3rem;
    }
  }
}

.d-image {
  width: 100%; height: auto;
  flex: 0 0 auto;
  display: flex;

  .d-image-wrapper:target & {
    animation: d-image-target 1s;
  }
}

.d-image-link {

}

@keyframes d-image-target {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
