.d-lede {
  @extend .d-text-alpha;
  max-width: 42rem;
  margin-bottom: -1.5rem;

  // @include d-screen-small-up {
  //   margin-bottom: 1.5rem;
  // }
}

.d-lede-addendum {
  opacity: 0.65;

  &:before {
    content: " ";
  }
}
