.d-list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  // margin-left: -0.75rem;
  margin-left: -0.15rem;
  margin-top: -1.5rem;
  margin-bottom: -0.5rem - 1.5rem;

  > * {
    @extend .d-list-item;
  }

  @media print {
    color: $d-colour-dark !important;
  }

  &:last-child {
    margin-bottom: -0.5rem;
  }
}

.d-list-item {
  @extend .d-text-epsilon;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.75rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.75rem;
  white-space: nowrap;
  position: relative;
  z-index: 0;
  color: $d-colour-dark;
  border-radius: 5rem;
}
