.d-projects-link {
  @extend .d-text-caps;
  @extend .d-text-epsilon;
  margin-top: 1.5rem;
  display: inline-flex;
  align-items: center;
  transition: 0.25s opacity, 0.25s color;
  padding-top: 0;

  &:hover {
    color: $d-colour-blue;
  }

  &:active, &:hover:active {
    opacity: 0.35;
    text-shadow: none;
    outline: none;
  }
}

.d-projects-link-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: -1.5px;
}

.d-read-more-link {
  text-decoration: none;
}

.d-read-more-link-icon {
  width: 0.7em;
  height: 0.7em;
  vertical-align: baseline;
  display: inline;
  margin-left: 0.25em;
  transform: translate(0, 0.05em);

  .d-theme-dark & {
    filter: invert(100%);
  }
}
