.d-projects-link {
  @extend .d-text-caps;
  @extend .d-text-epsilon;
  display: inline-flex;
  align-items: center;
  transition: 0.5s opacity, 0.5s color;
  // padding-top: 0;
  margin-top: auto;

  &:hover {
    color: $d-colour-blue;

    .d-projects-link-icon {
      transform: scale(1.1);
    }
  }

  &:active, &:hover:active {
    opacity: 0.35;
    text-shadow: none;
    outline: none;
  }
}

.d-projects-link-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: -1.5px;
  transition: 0.5s transform;
}

.d-read-more-link {
  text-decoration: none;

  &::after {
    content: "›"
  }
}
