.d-projects-link {
  @extend .d-text-caps;
  @extend .d-text-epsilon;
  margin-top: 1.5rem;
  display: inline-block;
}

.d-projects-link-icon {
  width: 0.75em;
  height: 0.75em;
  vertical-align: baseline;
  // background: red;
}

.d-read-more-link {
  text-decoration: none;
}

.d-read-more-link-icon {
  width: 0.7em;
  height: 0.7em;
  vertical-align: baseline;
  display: inline;
  margin-left: 0.25em;
  transform: translate(0, 0.05em);

  .d-theme-rimms-tv-multichannel-streaming-server &,
  .d-theme-earsoft-audio-interactive-app & {
    filter: invert(100%);
  }
}
