.d-navigation {
  @extend .d-text-bold;
  padding: 1.5rem;
  overflow-x: auto;
  flex-shrink: 0;
  order: -1;

  @include d-screen-medium-up {
    padding: 3rem;
  }

  .d-page-index & {
    order: unset;
    margin-top: auto;
    padding-top: 0;
  }

  a {
    text-decoration: none;
  }
}

.d-navigation-items {
  display: flex;
}

.d-navigation-item {
  text-decoration: none;
  margin-left: 3rem;
  flex: 0 0 auto;
  text-decoration: none;

  .d-page-technology &.d-target-technology,
  .d-page-design &.d-target-design,
  .d-page-companies &.d-target-companies,
  .d-page-index &.d-target-index, {
    color: $d-colour-darkish;
    pointer-events: none;
  }

  &:first-child {
    margin-left: unset;
    margin-right: auto;
  }
}
