.d-section {
  padding: 1.5rem;

  @include d-screen-small-up {
    padding: 3rem;
  }

  @include d-screen-medium-up {
    padding: 4.5rem;
  }

  > * {
    padding: 1.5rem 0;

    &:first-child, &.d-a11y:first-child + * {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &:nth-child(even) {
    background-color: $d-colour-light;
  }

  &.d-theme-soundry-co {
    color: $d-colour-white;
    background-color: red;
  }

  &.d-theme-cantare-ladies-choir {
    color: $d-colour-white;
    background-color: rgb(237, 0, 91);
  }

  &.d-theme-earsoft-audio {
    background-color: rgb(255, 225, 0);
  }

  &.d-theme-a-happy-couple {
    color: $d-colour-white;
    background-color: rgb(133, 27, 52);
  }

  @media print {
    background-color: unset !important;
  }
}
