@mixin d-section-pad($padding: 1.5rem) {
  // clip-path: polygon(0 $padding, 100% 0, 100% 100%, 0 100%);
  // padding: ($padding * 2) $padding ($padding * 2);
  // margin-top: calc(-#{$padding * 1} - 1px);
  padding: $padding;
}

.d-section {
  position: relative;
  @include d-section-pad(1.5rem);

  @include d-screen-small-up {
    @include d-section-pad(3rem);
  }

  @include d-screen-medium-up {
    @include d-section-pad(4.5rem);
  }

  > * {
    padding: 1.5rem 0;

    &:first-child, &.d-a11y:first-child + * {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &:nth-child(even) {
    background-color: $d-colour-dark-alt;
  }

  @media print {
    background-color: unset !important;
  }
}
