.d-grid {
  display: grid;
  grid-template-columns:
    [main-start]
    var(--d-grid-gutter)
    [content-start]
    1fr
    [content-middle]
    1fr
    [content-end]
    var(--d-grid-gutter)
    [main-end];

  grid-template-rows: auto;
  grid-gap: var(--d-grid-gap) 0;

  > * {
    grid-column: content-start / content-end;
  }

  &.d-pad {
    padding: var(--d-grid-gutter) 0;
  }

  &.d-tight {
    grid-gap: calc(var(--d-grid-gap) / 2) 0;
  }

  & & {
    grid-column: main-start / main-end;
  }
}

:root {
  --d-grid-gap: 4rem;
  --d-grid-gutter: 2rem;

  @media (min-width: 350px) {
    --d-grid-gap: 5rem;
    --d-grid-gutter: 2.5rem;
  }

  @media (min-width: 600px) {
    --d-grid-gap: 9rem;
    --d-grid-gutter: 4.5rem;
  }

  @media (min-width: 1200px) {
    --d-grid-gap: 12rem;
    --d-grid-gutter: 6rem;
  }
}
