@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


html {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: "Lagu Sans Variable";
  font-variation-settings: "wght" 380;
  min-height: 100%;
  padding: 10vw;
  font-size: 125%;
  line-height: 1.4;
  background-image: url("/images/d-background-black.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 75%;
}

a {
  color: #baa885;
  text-decoration: none;
  font-variation-settings: "wght" 360;

  &:hover {
    color: inherit;
  }
}

em {
  font-style: italic;
}

.d-nav-link {
  font-family: "Termina";
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.01em;
}

.d-hero-title {
  font-size: 2rem;
  font-variation-settings: "wght" 315;
  line-height: 1.25;
  margin: 10vw 0;

  @media (min-width: 900px) {
    font-size: 4rem;
  }
}

.d-hero-ampersand {
  font-size: 0.77em;
  font-variation-settings: "wght" 350;
  // font-style: italic;
}

.d-hero-period {
  margin-left: -0.075em;
}

.d-hero-link {
  text-decoration: underline;
  text-decoration-color: rgba(white, 0.1);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.125em;
  color: #baa885;
}

.d-description {
  display: grid;
  grid-gap: 2.5vw;
}
