.d-root {
  @extend .d-text-sizing;
  height: 100%;
}

.d-body {
  @extend .d-text;
  background: $d-color-black;
  color: $d-color-white;
  min-height: 100%;
  background-image: url("/images/d-background-black.svg");
  background-size: 125% auto;
  background-position: center top -15vw;
}

.d-main {
  @extend .d-grid;
  @extend .d-pad;
}

.d-hero-period {
  margin-left: -0.1em;
}

.d-tags {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5%;
  margin-top: 0.125rem;
}

.d-tag {
  @extend .d-text-caption;
  color: $d-color-gray;
  line-height: 1.8;

 display: inline;
 margin-right: 1.25em;
}

.d-anchor-ref-container {
  position: relative;
}

.d-anchor-ref {
  position: absolute;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  display: inline-flex;

  &::before {
    content: "#";
    position: absolute;
    left: 0;
    transform: translate(-100%, 0);
    padding: 0 0.5em;
    pointer-events: auto;
    visibility: visible;
    opacity: 0;
    transition: 0.5s opacity;
  }

  .d-anchor-ref-container:hover &::before {
    opacity: 0.2;
  }

  .d-anchor-ref-container:hover &:hover::before {
    opacity: 1;
  }
}
