html {
  @extend .d-text-sizing;
  height: 100%;
}

.d-body {
  @extend .d-text;
  background: hsl(0deg, 0%, 4%);
  color: white;
  // background: white;
  // color: black;
  min-height: 100%;
  background-image: url("/images/d-background-black.svg");
  background-size: 100% auto;
  background-position: center top;
}

.d-round-left {
  &, & img {
    border-radius: unset;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.d-round-right {
  &, & img {
    border-radius: unset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

img {
  display: flex;
}

.d-main {
  @extend .d-grid;
  @extend .d-pad;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  @extend .d-text-link;
}

em {
  font-style: italic;
}

.d-hero-period {
  margin-left: -0.1em;
}

.d-tags {
  display: flex;
  flex-wrap: wrap;
}

.d-tag {
  @extend .d-text-caption;
  display: inline;
  margin-top: 0.5em;
  margin-right: 1.5em;
  opacity: 0.4;
}

img {
  width: 100%;;
  max-width: 100%;;
}

.d-anchor-ref-container {
  position: relative;
}

.d-anchor-ref {
  position: absolute;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  display: inline-flex;

  &::before {
    content: "#";
    position: absolute;
    left: 0;
    transform: translate(-100%, 0);
    padding: 0 0.5em;
    pointer-events: auto;
    visibility: visible;
    opacity: 0;
    transition: 0.5s opacity;
  }

  .d-anchor-ref-container:hover &::before {
    opacity: 0.2;
  }

  .d-anchor-ref-container:hover &:hover::before {
    opacity: 1;
  }
}
