// 5.96rem
// 4.768rem
// 3.815rem
// 3.052rem
// 2.441rem
// 1.953rem
// 1.563rem
// 1.25rem
// 1rem
// 0.8rem
// 0.64rem
// 0.512rem

.d-text-sizing {
  font-size: 100%;

  @media (min-width: 350px) {
    font-size: 100% * (18 / 16);
  }

  @media (min-width: 900px) {
    font-size: 100% * (20 / 16);
  }

  @media (min-width: 1500px) {
    font-size: 100% * (22 / 16);
  }

  @media (min-width: 1800px) {
    font-size: 100% * (24 / 16);
  }
}

$d-font-stack-display: "Termina", sans-serif;
$d-font-stack-text: "Lagu Sans Variable", sans-serif;;

.d-text {
  font-family: $d-font-stack-text;
  font-variation-settings: "wght" 380;
  line-height: 1.6;
}

.d-text-headline {
  font-size: 1.953rem;
  font-variation-settings: "wght" 380;
  letter-spacing: -0.005em;
  line-height: 1.3;
  hyphens: none;
  margin-left: -0.05em;

  @media (min-width: 600px) {
    font-size: 3.052rem;
    font-variation-settings: "wght" 370;
    line-height: 1.25;
    letter-spacing: -0.0075em;
  }

  @media (min-width: 900px) {
    font-variation-settings: "wght" 360;
    letter-spacing: -0.01em;
    margin-left: -0.075em;
    padding-right: 5%;
  }

  @media (min-width: 1200px) {
    font-size: 3.815rem;
    font-variation-settings: "wght" 350;
    letter-spacing: -0.0125em;
  }

  @media (min-width: 1500px) {
    font-variation-settings: "wght" 340;
    letter-spacing: -0.015em;
  }

  @media (min-width: 1800px) {
    font-variation-settings: "wght" 330;
    letter-spacing: -0.015em;
  }

  .d-ampersand {
    font-size: 0.77em;
    font-variation-settings: "wght" 360;
  }

  > * {
    display: inline;
  }
}

.d-text-title {
  font-size: 1.563rem;
  line-height: 1.3;
  margin-left: -0.035em;
  letter-spacing: -0.0025em;
  font-variation-settings: "wght" 380;

  @media (min-width: 900px) {
    font-size: 2.441rem;
    margin-left: -0.05em;
    letter-spacing: -0.005em;
  }

  @media (min-width: 1200px) {
    font-size: 3.052rem;
    letter-spacing: -0.0075em;
  }
}

.d-text-heading {
  font-family: $d-font-stack-display;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.025em;

  @media (min-width: 600px) {
    font-size: 1rem;
  }

  @media (min-width: 900px) {
    font-size: 1.563rem;
  }
}


.d-text-subheading {
  font-family: $d-font-stack-display;
  text-transform: uppercase;
  font-size: 0.64rem;
  letter-spacing: 0.025em;

  @media (min-width: 900px) {
    font-size: 0.8rem;
  }
}

.d-text-caption {
  font-family: $d-font-stack-display;
  text-transform: uppercase;
  font-size: 0.512rem;
  letter-spacing: 0.05em;

  @media (min-width: 900px) {
    font-size: 0.64rem;
  }
}

.d-text-link {
  text-decoration: underline;
  text-decoration-color: rgba(white, 0.1);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.125em;
  color: #baa885;
  transition: 0.25s color;

  &:hover {
    color: inherit;
  }
}

.d-text-small {
  font-size: 0.8rem;
}
