.d-body {
  @extend .d-text;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  min-height: 100vh;
  // background-image: url("../images/d-pattern.svg");
  // background-size: 12.5vw;
  //
  // @include d-screen-small-up {
  //   background-size: 10vw;
  // }
  //
  // @include d-screen-medium-up {
  //   background-size: 5vw;
  // }
}
