.d-gradient {
  border-top: 2px solid rgba(black, 1);
  background-image: linear-gradient(hsla(0, 0%, 4%, 0.75), hsla(0, 0%, 4%, 0));
  background-position: center top;
  background-size: 100% 75vh;
  background-repeat: repeat-x;
}
