.d-gradient {
  border-top: 2px solid rgba(black, 1);
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.65), hsla(0, 0%, 0%, 0));
  background-position: center top;
  background-size: 100% 50vh;
  background-repeat: repeat-x;
}
