<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dan Halliday">

    <block name="title">
      <title>Dan Halliday · Technology &amp; Design</title>
    </block>

    <meta name="description" content="{{ about.meta }}">
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body class="d-page-{{ id }}" ontouchstart>
    <main>
      <block name="main"></block>
    </main>

    <include src="includes/navigation.html"></include>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ services.google.analytics.key }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "{{ services.google.analytics.key }}");
    </script>
  </body>
</html>
