<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <block name="title">
      <title>Dan Halliday · Technology &amp; Design</title>
    </block>

    <meta name="description" content="I’m a designer and software engineer with over fifteen years’ experience. Here’s a small selection of my work.">

    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body class="d-page-{{ id }}" ontouchstart>
    <main>
      <block name="main"></block>
    </main>

    <include src="includes/navigation.html"></include>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-611090-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "UA-611090-1");
    </script>
  </body>
</html>
