.item-intro {
    position: relative;
    padding-top: 0;
    min-height: calc(100vh - 30rem);
    margin-bottom: 2px;

    @include size(medium) {

    }

    @include size(large) {

    }

    .item-header {
        padding-top: $small-size;

        @include size(medium) {
            padding-top: $medium-size;
        }

        @include size(large) {
            padding-top: $large-size;
        }
    }

    .item-description {
      margin-bottom: 0;
    }
}
