.item {
    @extend %clearfix;
    position: relative;
    margin-top: -1px;
    padding-top: $small-size;

    @include size(medium) {
        padding-top: $medium-size;
    }

    @include size(large) {
        padding-top: $large-size;
    }

    .item-link {
        opacity: 0;
        color: inherit;
        position: absolute;
        top: $small-size; margin-top: 0.85rem;
        left: $small-size; margin-left: 4rem;
        svg, img { width: 1.5rem; height: 1.5rem; fill: currentColor; }
        transition: opacity 1s;
        display: block;

        @include size(medium) {
            top: $medium-size; margin-top: 0.6rem;
            right: $medium-size; margin-right: 5rem;
            left: initial;
            svg { width: 2rem; height: 2rem; }
        }

        @include size(large) {
            top: $large-size; margin-top: 0.7rem;
            right: $large-size; margin-right: 6rem;
            left: initial;
            svg { width: 2.2rem; height: 2.2rem; }
        }
    }

    .item-header:hover + .item-link,
    .item-link:hover {
        opacity: 1;
        transition: opacity 1s;
    }

    .item-hero-image {
        @extend %no-select;
        display: block; // Overrides deliberate 'hidden' HTML attribute
        position: absolute;
        width: 100%;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
        object-position: center top;
        z-index: -1;
    }

    .item-header {
        position: relative;
        margin: 0 $small-size $small-size $small-size;
        font-size: 2rem;
        line-height: 1.0;
        page-break-before: always;

        @include size(medium) {
            margin: 0 $medium-size $medium-size $medium-size;
            font-size: 2.5rem;
            line-height: 1.2;
            padding-right: 8rem;
        }

        @include size(large) {
            margin: 0 $large-size $large-size $large-size;
            font-size: 3.0rem;
            line-height: 1.2;
        }

        .item-title {
            position: relative;
            // display: inline-block;
            font-weight: 700;
            letter-spacing: -0.01em;
        }

        .item-subtitle {
            margin-top: .75em;
            line-height: 1.2;
            font-size: .4em;
            text-transform: uppercase;
            padding-bottom: 1em;
            letter-spacing: 0.075em;

            @include size(medium) {
                margin-top: 0.5em;
            }

            &:after {
                content: '';
                position: absolute; bottom: 0; left: 0;
                margin: 0;
                opacity: 0.05;
                background: currentColor;
                width: 3em;
                height: 2px;
            }
        }
    }

    &:last-of-type .item-header:after {
        content: none;
    }

    &:first-child .item-header {
        page-break-before: initial;
        margin-top: 0;
    }

    &:first-child .item-images .item-image {
        height: 25vh;
    }

    &.item-count {
        counter-increment: item;

        &:before {
            @extend %sticky;
            content: "0" counter(item);
            font-weight: 800;
            z-index: 100;
            border: 2px solid currentColor;
            border-radius: 0.25em;
            padding: 0.1em 0.225em;
            font-size: 2rem;
            line-height: 1.0;

            text-align: center;

            top: $small-size;
            margin-left: $small-size;
            margin-bottom: $small-size;
            margin-top: 4px; // Fudge for optical vertical alignmnet

            @include size(medium) {
                float: right;
                top: $medium-size;
                bottom: $large-size;
                margin: -2px $medium-size - 2px $medium-size 0;
                font-size: 2.5rem;
                line-height: 1.2;
                padding: 0 0.225em;
            }

            @include size(large) {
                top: $large-size;
                bottom: $large-size;
                margin: -2px $large-size - 2px $large-size 0;
                font-size: 3.0rem;
                line-height: 1.2;
            }

        }
    }

    .item-description {
        margin: 0 $small-size $small-size $small-size;

        -webkit-column-gap: $small-size;
        -moz-column-gap: $small-size;
        column-gap: $small-size;

        -webkit-column-fill: balance;
        -moz-column-fill: balance;
        column-fill: balance;

        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;

        @include size(medium) {
            margin: 0 $medium-size $medium-size $medium-size;
            width: 50%;
        }

        @include size(large) {
            margin: 0 $large-size $large-size $large-size;
            -webkit-column-gap: $large-size;
            -moz-column-gap: $large-size;
            column-gap: $large-size;
            -webkit-columns: 2;
            -moz-columns: 2;
            columns: 2;
            width: 50%;
            max-width: 40em;
        }

        a {
            color: inherit;
            font-weight: 600;
        }
    }

    .item-addenda {
        margin: 0 $small-size $small-size $small-size;
        color: lighten($dark-color, 5%);

        @include size(medium) {
            margin: 0 $medium-size $medium-size $medium-size;
        }

        @include size(large) {
            margin: 0 $large-size $large-size $large-size;
        }

        .skills-title {
            display: inline;
            margin-right: 0.5em;
        }

        ul.skills-list {
            display: inline;
            list-style-type: circle;
            margin-bottom: 1em;
            line-height: $line-height;

            li {
                display: inline-block;
                border: 2px solid transparentize($dark-color, 0.9);
                border-radius: 1em;
                padding: 0.2em 0.7em;
                color: $dark-color;
                // min-width: 0em;
                text-align: center;
                margin: 0 0.5em 0.5em 0;

                &:last-child {
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    .item-images {
        @extend %clearfix;
        position: relative;

        .item-image {
            counter-increment: item-image;
            position: relative;
            float: left;
            overflow: hidden;
            margin: 0;
            margin-top: -1px; // Webkit rounding error
            page-break-inside: avoid;

            width: 100%;
            height: 80vh;

            &.item-image-size-small {
                width: 50%;
                height: 25vw;

                @include size(small) {
                    height: 40vw;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .item-image-links {
                position: absolute;
                top: $small-size; left: $small-size;
                z-index: 1;
                opacity: 0;
                display: block;

                @include size(medium) {
                    top: $medium-size; left: $medium-size;
                }

                @include size(large) {
                    top: $large-size; left: $large-size;
                }

                svg {
                    width: 2rem;
                    height: 2rem;
                }

                transition: opacity 1s;

                .item-image-link {
                    display: block;
                    float: left;
                }
            }

            &:hover .item-image-links {
                opacity: 1;
            }

            .item-image-caption {
                top: $small-size;
                left: $small-size;
                right: $small-size;
                display: none;

                @include size(medium) {
                    top: $medium-size;
                    left: $medium-size;
                    right: $medium-size;
                }

                @include size(large) {
                    top: $large-size;
                    left: $large-size;
                    right: $large-size;
                }

                content: counter(item-image);
                position: absolute;
                z-index: 2;
                color: #fff;
                font-weight: 800;
                text-shadow: 0 1px 1px $dark-color;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:before {
                    content: counter(item) "." counter(item-image) "\a0\a0\b7\a0\a0";
                }
            }

            &:first-of-type {
                // page-break-after: always;
            }
        }

        .item-image:target {
            // width: 100vw; height: 100vh;
        }
    }
}
