.d-article {
  @extend .d-grid;
}

.d-article-body {
  @extend .d-grid;
  @extend .d-tight;
  // @extend .d-gradient;
  // padding-top: var(--d-grid-gap);
}

.d-article-h1 {
  @extend .d-text-heading;
}

.d-article-h2 {
  @extend .d-text-subheading;
}

.d-article-paragraph {
  @media (min-width: 600px) {
    grid-column: content-start / content-middle;
  }
}

.d-article-figure-group {
  @media (min-width: 600px) {
    grid-column: content-start / content-middle;
  }

  &.d-wide {
    grid-column: content-start / main-end;
  }
}

.d-article-figure {

}

.d-article-image {
  .d-article-figure:first-child & {
    @extend .d-round-top-left;
  }

  .d-article-figure:last-child & {
    @extend .d-round-bottom-left;
  }

  .d-article-figure:first-child:last-child & {
    @extend .d-round;

    .d-article-figure-group.d-wide & {
      @extend .d-round-left;
    }
  }
}
