.d-section-work {
  @extend .d-grid;
}

// TODO: Relocate
.d-work-body {
  display: grid;
  grid-gap: 1rem;
  grid-column: content-start / content-end;

  @media (min-width: 600px) {
    grid-column: content-start / content-middle;
  }
}
