link href="#{data.site.avatar}?w=16&mask=ellipse" rel="icon" sizes="16x16" type="image/png"
link href="#{data.site.avatar}?w=32&mask=ellipse" rel="icon" sizes="32x32" type="image/png"
link href="#{data.site.avatar}?w=96&mask=ellipse" rel="icon" sizes="96x96" type="image/png"
link href="#{data.site.avatar}?w=192&mask=ellipse" rel="icon" sizes="192x192" type="image/png"
link href="#{data.site.avatar}?w=194&mask=ellipse" rel="icon" sizes="194x194" type="image/png"

link href="#{data.site.avatar}?w=57" rel="apple-touch-icon" sizes="57x57"
link href="#{data.site.avatar}?w=60" rel="apple-touch-icon" sizes="60x60"
link href="#{data.site.avatar}?w=72" rel="apple-touch-icon" sizes="72x72"
link href="#{data.site.avatar}?w=76" rel="apple-touch-icon" sizes="76x76"
link href="#{data.site.avatar}?w=114" rel="apple-touch-icon" sizes="114x114"
link href="#{data.site.avatar}?w=120" rel="apple-touch-icon" sizes="120x120"
link href="#{data.site.avatar}?w=144" rel="apple-touch-icon" sizes="144x144"
link href="#{data.site.avatar}?w=152" rel="apple-touch-icon" sizes="152x152"
link href="#{data.site.avatar}?w=180" rel="apple-touch-icon" sizes="180x180"

meta content=data.site.name name="apple-mobile-web-app-title"
meta content=data.site.name name="application-name"
meta content=data.site.name name="application-name"

meta content="#{data.site.avatar}?w=70" name="msapplication-square70x70logo"
meta content="#{data.site.avatar}?w=150" name="msapplication-square150x150logo"
meta content="#{data.site.avatar}?w=310" name="msapplication-wide310x150logo"
meta content="#{data.site.avatar}?w=310" name="msapplication-square310x310logo"
meta content="#FFFFFF" name="msapplication-TileColor"
