
link href=data.fonts.lagu.variable.normal.woff2 rel="preload" as="font" type="font/woff2" crossorigin=true
link href=data.fonts.termina.medium.woff2 rel="preload" as="font" type="font/woff2" crossorigin=true
link href=data.fonts.lagu.variable.italic.woff2 rel="preload" as="font" type="font/woff2" crossorigin=true
