.d-subscribe
  h2.d-text-heading
    | Keep Up To Date

  .d-subscribe-summary
    p Follow my product development journey over the next year as I attempt to build three side-project apps which bring more joy, creativity, and everyday utility to streaming music.

    ul.d-subscribe-bullets
      li <strong><em>See</em></strong> how I approach visual and user experience design
      li <strong><em>Watch</em></strong> me work through some interesting code issues
      li <strong><em>Play</em></strong> with exclusive pre-release versions of the apps
      li <strong><em>No Spam</em></strong> — issues will be weekly at most

  form.d-subscribe-form
    label.d-a11y for="email" Your Email Address
    input.d-subscribe-email#email type="email" placeholder="Your Email"
    input.d-subscribe-submit type="submit" value="Subscribe"
