$d-colour-hue: 250;

$d-colour-dark: hsl($d-colour-hue, 30%, 18%);
$d-colour-darkish: hsl($d-colour-hue, 10%, 35%);
$d-colour-light: hsl($d-colour-hue, 0%, 100%);
$d-colour-highlight: hsl($d-colour-hue, 65%, 80%);

$d-colour-flash: rgb(255, 225, 0);
