$d-colour-hue: 225;

$d-colour-dark: hsl($d-colour-hue, 5%, 10%);
$d-colour-light: hsl($d-colour-hue, 5%, 98%);
$d-colour-white: white;

$d-colour-highlight: rgb(255, 225, 0);

$d-colour-dark-alt: darken($d-colour-dark, 2%);

$d-colour-blue: #3f83ef;
