:root {
  font-size: 16px;
  color: $d-colour-dark;
  background-color: $d-colour-light;
  height: 100%;

  @media print {
    font-size: 12px;
    color: $d-colour-dark;
    background-color: unset;
  }

  @include d-screen-huge-up {
    font-size: 20px;
  }
}

body {
  @extend .d-body;
}

a {
  @extend .d-text-link;
}

em {
  @extend .d-text-italic;
}
