:root {
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  background-color: $d-colour-dark;
  height: 100%;
}

body {
  @extend .d-body;
}

a {
  @extend .d-text-link;
}

em {
  @extend .d-text-italic;
}
