// Lota
//
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Regular
// 600 Semi Bold
// 700 Bold
// 800 Black

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-bold-italic.eot");
// 	src: url("/fonts/lota-grotesque-bold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-bold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-bold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-bold-italic.ttf") format("truetype");
// }
//
// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-light-italic.ttf") format("truetype");
// }
//
// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-regular-italic.eot");
// 	src: url("/fonts/lota-grotesque-regular-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-regular-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-regular-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-regular-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-thin-italic.eot");
// 	src: url("/fonts/lota-grotesque-thin-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-thin-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-thin-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-thin-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-regular-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-regular-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-regular-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-regular-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-regular-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-regular-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-regular-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-regular-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-regular-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-regular-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-thin-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-thin-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-thin-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-thin-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-thin-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-black.eot");
// 	src: url("/fonts/lota-grotesque-black.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-black.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-black.woff") format("woff"),
//        url("/fonts/lota-grotesque-black.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-black-italic.eot");
// 	src: url("/fonts/lota-grotesque-black-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-black-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-black-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-black-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-bold.eot");
// 	src: url("/fonts/lota-grotesque-bold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-bold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-bold.woff") format("woff"),
//        url("/fonts/lota-grotesque-bold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-extra-light.eot");
// 	src: url("/fonts/lota-grotesque-extra-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-extra-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-extra-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-extra-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-extra-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-extra-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-extra-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-extra-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-extra-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-light.eot");
// 	src: url("/fonts/lota-grotesque-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-regular.eot");
// 	src: url("/fonts/lota-grotesque-regular.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-regular.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-regular.woff") format("woff"),
//        url("/fonts/lota-grotesque-regular.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-semibold.eot");
// 	src: url("/fonts/lota-grotesque-semibold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-semibold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-semibold.woff") format("woff"),
//        url("/fonts/lota-grotesque-semibold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-semibold-italic.eot");
// 	src: url("/fonts/lota-grotesque-semibold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-semibold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-semibold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-semibold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque";
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-thin.eot");
// 	src: url("/fonts/lota-grotesque-thin.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-thin.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-thin.woff") format("woff"),
//        url("/fonts/lota-grotesque-thin.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-black.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-black.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-black.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-black.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-black.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-black-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-black-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-black-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-black-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-black-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-bold.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-bold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-bold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-bold.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-bold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-bold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-bold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-bold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-bold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-bold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-extra-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-extra-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-extra-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-extra-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-extra-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-extra-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-extra-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-extra-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-extra-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-extra-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-regular.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-regular.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-regular.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-regular.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-regular.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-semibold.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-semibold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-semibold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-semibold.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-semibold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-semibold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-semibold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-semibold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-semibold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-semibold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 1";
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-1-thin.eot");
// 	src: url("/fonts/lota-grotesque-alt-1-thin.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-1-thin.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-1-thin.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-1-thin.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-black.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-black.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-black.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-black.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-black.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-black-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-black-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-black-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-black-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-black-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-bold.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-bold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-bold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-bold.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-bold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-bold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-bold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-bold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-bold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-bold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-extra-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-extra-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-extra-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-extra-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-extra-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-extra-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-extra-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-extra-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-extra-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-extra-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-regular.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-regular.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-regular.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-regular.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-regular.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-semibold.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-semibold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-semibold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-semibold.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-semibold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-semibold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-semibold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-semibold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-semibold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-semibold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-thin.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-thin.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-thin.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-thin.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-thin.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 2";
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-2-thin-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-2-thin-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-2-thin-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-2-thin-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-2-thin-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-black.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-black.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-black.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-black.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-black.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-bold.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-bold.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-bold.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-bold.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-bold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-bold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-bold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-bold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-bold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-bold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-extra-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-extra-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-extra-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-extra-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-extra-light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-extra-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-extra-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-extra-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-extra-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-extra-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-light.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-light.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-light.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-light.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-light.ttf") format("truetype");
// }

@font-face {
	font-family: "Lota Grotesque Alt 3";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
	src: url("/fonts/lota-grotesque-alt-3-regular.eot");
	src: url("/fonts/lota-grotesque-alt-3-regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/lota-grotesque-alt-3-regular.woff2") format("woff2"),
       url("/fonts/lota-grotesque-alt-3-regular.woff") format("woff"),
       url("/fonts/lota-grotesque-alt-3-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Lota Grotesque Alt 3";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
	src: url("/fonts/lota-grotesque-alt-3-regular-italic.eot");
	src: url("/fonts/lota-grotesque-alt-3-regular-italic.eot?#iefix") format("embedded-opentype"),
       url("/fonts/lota-grotesque-alt-3-regular-italic.woff2") format("woff2"),
       url("/fonts/lota-grotesque-alt-3-regular-italic.woff") format("woff"),
       url("/fonts/lota-grotesque-alt-3-regular-italic.ttf") format("truetype");
}

@font-face {
	font-family: "Lota Grotesque Alt 3";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
	src: url("/fonts/lota-grotesque-alt-3-semibold.eot");
	src: url("/fonts/lota-grotesque-alt-3-semibold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/lota-grotesque-alt-3-semibold.woff2") format("woff2"),
       url("/fonts/lota-grotesque-alt-3-semibold.woff") format("woff"),
       url("/fonts/lota-grotesque-alt-3-semibold.ttf") format("truetype");
}

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-thin.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-thin.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-thin.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-thin.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-thin.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-black-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-black-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-black-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-black-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-black-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-light-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-light-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-light-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-light-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-light-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-semibold-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-semibold-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-semibold-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-semibold-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-semibold-italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "Lota Grotesque Alt 3";
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// 	src: url("/fonts/lota-grotesque-alt-3-thin-italic.eot");
// 	src: url("/fonts/lota-grotesque-alt-3-thin-italic.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/lota-grotesque-alt-3-thin-italic.woff2") format("woff2"),
//        url("/fonts/lota-grotesque-alt-3-thin-italic.woff") format("woff"),
//        url("/fonts/lota-grotesque-alt-3-thin-italic.ttf") format("truetype");
// }
