@import "reset";
@import "utils";
@import "responsive";

$font-size: 16px;
$line-height: 1.5;

$dark-color: hsl(280, 5, 20%);
$light-color: hsl(0, 0, 100%);

@import "typography";

@import "page/page";
@import "page/header";
@import "page/footer";

@import "item/item";
@import "item/intro";
@import "item/themes";
