$d-screen-small: 600px;
$d-screen-medium: 900px;
$d-screen-large: 1200px;
$d-screen-huge: 1800px;

@mixin d-screen-tiny-only {
  @media (max-width: #{$d-screen-small - 1}) { @content; }
}

@mixin d-screen-small-up {
  @media (min-width: #{$d-screen-small}) { @content; }
}

@mixin d-screen-medium-up {
  @media (min-width: #{$d-screen-medium}) { @content; }
}

@mixin d-screen-large-up {
  @media (min-width: #{$d-screen-large}) { @content; }
}

@mixin d-screen-huge-up {
  @media (min-width: #{$d-screen-huge}) { @content; }
}
