.page-footer {
    position: relative;
    text-align: right;
    font-size: 0.8rem;
    padding: $small-size;
    min-height: $small-size;
    line-height: $small-size;

    @include size(medium) {
        padding: $medium-size;
        min-height: $medium-size;
        line-height: $medium-size;
        font-size: 1rem;
    }

    @include size(large) {
        padding: $large-size;
        min-height: $large-size;
        line-height: $large-size;
    }

    p {
      float: right;
    }

    p:last-child::after { display: none; }

    .page-footer-contact {
      float: left;

      a {
        display: block;
        transition: transform 0.3s;
        background-image: url("/images/email-icon.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;

        &:hover {
          transform: scale(1.2);
        }

        width: $small-size * 1.2;
        height: $small-size;

        @include size(medium) {
          width: $medium-size * 1.2;
          height: $medium-size;
        }

        @include size(large) {
          width: $large-size * 1.2;
          height: $large-size;
        }

        span { display: none; }
      }
    }
}
