.page-outline-only {
    display: none;
}

.page-projects-title {
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-size: 1rem;
    text-transform: uppercase;
    padding: $small-size;

    @include size(medium) {
        padding: $medium-size;
    }

    @include size(large) {
        padding: $large-size;
    }

    .page-projects-title-arrow {
        display: block;
        float: left;
        position: relative;
        top: 0.05em;
        margin-right: 0.25em;
        width: 1em; height: 1em;

        svg, img {
            width: 1em; height: 1em;
            * { fill: $dark-color; }
        }
    }
}

.page-contact-link {
    position: relative;
    z-index: 1;
    display: block;
    width: $small-size * 2;
    height: $small-size * 2;
    padding: $small-size;
    background-image: url('/images/email-icon.svg');
    background-repeat: no-repeat;
    background-size: $small-size * 2;
    background-position: center;
    margin-bottom: -$small-size;
    margin-left: -0.1rem;
    transition: transform 0.3s;

    @include size(medium) {
        float: right;
        padding: 0;
        background-size: 100%;
        margin: $medium-size;
        width: 4rem; height: 4rem;
    }

    @include size(large) {
        margin: $large-size;
        width: 4.8rem; height: 4.8rem;
    }

    span { display: none; }

    &:hover {
      transform: scale(1.2);
    }
}
